.img-character {
  width: 100vw;
  height: 100vh;
}


.title{
  position: absolute;
  top: 35vh;
  left: 50px;
  z-index: 10;
  font-size: 3rem;
  font-weight: bold;
  color:white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.title-character
{
    text-align: center;
    color:rgb(0, 0, 0);
}
.characters-wrapper {
  position: relative;

}

.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* ocupa toda la pantalla */
  overflow: hidden;
}


.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px; /* altura del degradado */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #9f2705 100%);
}

.divider {
  /* background: linear-gradient(to bottom, #9f2705, #774503); */
  padding: 20px;
}

.filters {
  margin: 20px 0;
  text-align: center;
}

.filters input{
  width: 600px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}