.aside {
  width: 200px;
  background-color: #1e1e2f;
  color: #fff;
  padding: 20px;
  min-height: 100vh; /* ocupa toda la altura */
  top: 0;
  left: 0;
}

.aside-title {
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 1px solid #444;
  padding-bottom: 5px;
}

.aside-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.aside-nav li {
  margin: 10px 0;
}

.aside-nav a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.aside-nav a:hover {
  color: #ffcc00;
}

/* Buscador */
.aside-search input {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: none;
  outline: none;
  background: #2a2a3d;
  color: #fff;
  margin-bottom: 20px;
}

.aside-search input::placeholder {
  color: #aaa;
}





.aside-filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.filter-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.filter-group select {
  width: 100%;
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
