.carousel-container {
  width: 90%;
  height: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;

  /* efecto degradado en los costados */
  -webkit-mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(to right, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}


.carousel-image.slide-in {
  opacity: 1;
  transform: translateX(0);
}

/* 📱 Tablets */
@media (max-width: 1024px) {
  .carousel-container {
    height: 400px;
    width: 95%;
  }
}

/* 📱 Mobile mediano */
@media (max-width: 768px) {
  .carousel-container {
    height: 300px;
    width: 100%;
  }

  .carousel-image {
    -webkit-mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);
    mask-image: linear-gradient(to right, transparent 5%, black 10%, black 90%, transparent 95%);
  }
}

/* 📱 Mobile chico */
@media (max-width: 480px) {
  .carousel-container {
    height: 200px;
    width: 100%;
  }

  .carousel-image {
    -webkit-mask-image: linear-gradient(to right, transparent 8%, black 15%, black 85%, transparent 92%);
    mask-image: linear-gradient(to right, transparent 8%, black 15%, black 85%, transparent 92%);
  }
}
