.header {
  display: grid;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15dvh;
  z-index: 1000;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 1rem 2rem;
  background-color: #f15a24;
  color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
body {
  margin-top: 20dvh; /* ajustá según el alto del header */
}

#hd-logo {
  border-radius: 10%;
  grid-column: 1/5;
}

.hd-nav {
  display: flex;
  justify-content: flex-end;
  grid-column: 6/10;
}

.hd-nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hd-nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

.hd-nav-links a:hover {
  color: #ffe600;
}

