
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.layout > header {
  width: 100%;
  color: white;
  padding: 15px;
  text-align: center;
}


.layout-body {
  flex: 1;
  display: flex;
  overflow: hidden;
  background-image: url("../src/assets/img/fondo/6.png");
}


.layout-body aside {
  width: 15%;
  max-width: 400px;
  min-width: 120px;
  background: #f15a24;
  color: white;
  padding: 20px;
  padding-top: 40px;
  position: fixed;
  top: 130px;
  left: 0;
  height: calc(100vh - 130px);
  overflow-y: auto;
  z-index: 999;
  transition: all 0.3s ease-in-out;
  box-shadow: 4px 0 30px rgba(0, 0, 0, 0.6);
}


.layout-main {
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: auto;
  margin-left: 15%;

  max-width: 2800px;
  min-height: calc(100vh - 130px - 250px);
  overflow-y: auto;
  overflow-x: hidden;
  width: auto;
}
.layout-main.home-main {
  margin-left: 0;
}

.layout > footer {
  width: 100%;
  height: 250px;
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
  z-index: 3000;
}

@media (max-width: 1024px) {
  .layout-body aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .layout-body aside.open {
    transform: translateX(0);
  }
}

@media (max-width: 960px) {
  .layout-body {
    flex-direction: column;
    margin-top: 10px;
    
  }
   .layout-main {
    margin-left: 0; 
    width: 100%;    
  }

  .layout > footer {
    height: auto;
    padding: 20px;
  }
}
