/* --- Reset y fuente --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Layout general */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Header */
.layout > header {
  width: 100%;
  color: white;
  padding: 15px;
  text-align: center;
}

/* Contenedor body: aside + main */
.layout-body {
  flex: 1;
  display: flex;
}

/* Aside */
.layout-body aside {
  width: 15%;
  max-width: 400px;
  min-width: 120px;
  background: #f15a24;
  color: white;
  padding: 20px;
  padding-top: 40px;
  position: sticky;
  top: 130px;
  align-self: flex-start;
  height: fit-content;
  transition: all 0.3s ease-in-out;
}

/* Main */
.layout-main {
  flex: 1;
  background: linear-gradient(to bottom, rgba(146, 146, 146, 0.418), #3a3a3a);
}

/* Footer */
.layout > footer {
  width: 100%;
  height: 250px;
  background-color: #222;
  color: white;
  padding: 10px;
  text-align: center;
  padding-top: 30px;
}

/* --- MEDIA QUERIES RESPONSIVE --- */

/* Responsive: tablets y móviles */
@media (max-width: 1024px) {
  .layout-body aside {
    position: fixed; /* sale del flujo */
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    transform: translateX(-100%); /* escondido por defecto */
    transition: transform 0.3s ease-in-out;
    z-index: 1000;
  }

  .layout-body aside.open {
    transform: translateX(0); /* visible cuando se abre */
  }
}

/* Celulares (pantallas chicas) */
@media (max-width: 768px) {
  .layout-body {
    flex-direction: column;
    margin-top: 10px;
  }

  /* Ocultar el aside de layout, usar hamburguesa */
  /* .layout-body aside {
    display: none;
  } */

  

  .layout > footer {
    height: auto;
    padding: 20px;
  }
}
