
body{
    background: linear-gradient(to bottom, #9F2705
, #774503);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
  margin: 10px;
}
.card-content {
  display: flex;
  flex-direction: column;
  border: 2px solid #000000;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  margin: 0 auto 10px;
  width: 250px;
  height: 500px;
  background-color: white;
    position: relative; /* importante para que la descripción se posicione dentro */
  overflow: hidden;
}
.card-title {
  font-size: 1.5em;
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  height: 10%;
}

.card-img {
   width: 100%;
  height: 60%;
  object-fit: contain;
  background: linear-gradient(to bottom, #ff7d03, #774503);
}

.card-footer{
  background-color: rgb(255, 123, 0);
  padding: 10px;
  font-size: 1em;
  color: #000000;
  font-weight: bold;
  border: #000000 solid 2px;
  height: 30%;
}

.card-description{
 overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
  font-size: 0.9em;
}

