@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
.card {   position: relative; /* importante para que el botón se posicione dentro */

  font-family: 'Poppins', sans-serif;
  background: linear-gradient(145deg, #ff9d2f, #ff6126);
  border-radius: 14px;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Botón + */
.card-add-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  background: rgba(255,255,255,0.85);
  color: #ff6126;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s ease, background 0.2s ease;
  z-index: 2; /* asegura que quede encima */
}

.card-add-btn:hover {
  background: #ff6126;
  color: #fff;
  transform: scale(1.1);
}



.card.Saiyan {
  background: linear-gradient(135deg, #ff9d2f, #ff6126);
}

.card.Human {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.card.Namekian {
  background: linear-gradient(135deg, #43e97b, #38f9d7);
}

.card.Android {
  background: linear-gradient(135deg, #f7971e, #ffd200);
}
.card.Majin {
  background: linear-gradient(135deg, #da22ff, #9733ee);
}
.card.Frieza.Race {
  background: linear-gradient(135deg, #b8b8d0, #8f8fb8);
}
.card.God {
  background: linear-gradient(135deg, #666666, #d8c3c7);
}
.card.Angel {
  background: linear-gradient(145deg, #ffc17a, #ffdf51);
}
.card.Nucleico {
  background: linear-gradient(145deg, #efcafa, #da8ff1);
}
.card.Evil {
  background: linear-gradient(145deg, #885656, #942d2d);
}
.card.Nucleico.benigno {
  background: linear-gradient(145deg, #c683c9, #9522c2);
}
.card.default {
  background: linear-gradient(145deg, #ff9d2f, #ff6126);
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.35);
}

.card-img {
  width: 100%; 
  height: 250px; 
  object-fit: contain;
  
}

.card-content {
  padding: 1rem;
  text-align: start;
  color: #fff;
}

.card-title {
  font-weight: 700; 
  font-size: 1.3rem;
  margin-bottom: 0.15rem;
}

.card-subtitle {
  font-weight: 400; 
  font-size: 0.9rem;
  opacity: 0.85;
  margin-bottom: 0.75rem;
  letter-spacing: 2px;
}

.card-ki, .card-max-ki {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  letter-spacing: 1px;
  background: rgba(255,255,255,0.15);
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  display: block;
}

